body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #054968;
  color: #333;
  
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ffffff;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
.sobre-texto {
    max-width: 600px;
    color:white;
    
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.resumo p {
    max-width: 600px;
    font-size: 18px;
    text-align: justify;
    color:#ffffff;
}

.resumo-title{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color:#ffffff;
}

.projetos_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    gap: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.projetos-title{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color:#ffffff;
}
.proj-list{
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    color:#ffffff;
}

.proj-tech{
    font-style: italic;
    color:#ffffff;
}